torch
numpy 
torchvision 
transformers
pillow
albumentations
pandas 
monai
tqdm
torchmetrics

https://colab.research.google.com/drive/10wcUr4kTHB8mZov3RlffIXjAXvKEY_US#scrollTo=Io9SVpbIgiS3
https://drive.google.com/file/d/1LZzCxNw8Gl5Up27Up2svThmrmDQRK7d9/view?usp=sharing

https://drive.google.com/file/d/1al-90IDkUcxgKFQ_NU5iaF_iKbsOiHJk/view?usp=drivesdk


https://drive.google.com/file/d/1GbK0QSscVP3Tlymo4jWOZnAYE78FeZah/view?usp=drivesdk

https://drive.google.com/file/d/1LzAqJDgJNBkFf2I8RlXawOnUoDu4M12B/view?usp=drivesdk